.modal {
}

@keyframes show_modla {
    0% {
        opacity: 1;
        transform: rotateY(-90);
    }
    100% {
        transform: rotate(0);
    }
}

.modal-enter {
    animation: show_modla 0.7s forwards;
}


